* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

ol,
ul,
li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  color: #666d89;
}

.portfolio h2{
  padding-top: 60px;
  font-size: 30px;
}

.portfolio .desc {
  font-weight: 300;
  margin-top: 23px;
  font-size: 16px;
  letter-spacing: 0.81px;
}

.portfolio .nav{
  margin-top: 16px;
  margin-bottom: 19px;
}

.portfolio button{
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  letter-spacing: 0.5px;
  background-color: transparent;
  border: 1px solid #666d89;
  color: #666d89;
  border-radius: 5px;
  margin-right: 10px;
  padding: 4.3px 8px;
}

.portfolio button:nth-child(2){
  margin-left: -2px;
  padding-right: 4px;
  letter-spacing: 1.05px;
}

.portfolio button:nth-child(3){
  letter-spacing: 0.8px;
  padding-right: 6px;
}

.portfolio button:nth-child(4){
  padding-left: 6px;
  padding-right: 5px;
  letter-spacing: 1px;
}

.examples{
  flex-wrap:wrap;
  margin-bottom: 46px;
}
.example{
  margin-right: 20px;
  margin-bottom: 2px;
  padding-bottom: 15px;
}

.example:nth-child(4n){
  margin-right: 0px;
}
.example:nth-child(n+13){
  display:none;
}

.about-us{
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  color: #666d89;
  font-size: 20px;
  padding-bottom: 66px;
}

.about-us h2 {
  padding-top: 59px;
  font-weight: bold;
  margin-bottom: 18px;
}

.about-us p{
  color: #767e9e;
  font-weight: 200;
  text-align: justify;
  text-align-last: left;
  letter-spacing: -0.04px;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 44px;
}

.about-us p span {
  word-spacing: 0.3px;
}
.people{
  justify-content: space-between;

}

.human{
  margin-right: 20px;
}
.human .name{
  margin-top: 15px;
  font-size: 18px;
  line-height: 17.86px;
  font-weight: 900;
  letter-spacing: -0.3px;
}

.human .desc{
  margin-top: 8.2px;
  font-size: 12px;
  line-height: 21.46px;
  text-align: justify;
  letter-spacing: 0.08px;
}

.human a{
  width: 32px;
  height: 31px;
  border: 1px solid #666d89;
  -moz-border: 3px solid #666d89;
  border-radius: 50%;
  margin-top: -18px;
  margin-right: 8px;
  padding-left: 8px;
  padding-top: 2px;
}