* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

ol,
ul,
li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  color: white;
}

.portfolio h2{
  padding-top: 60px;
  font-weigth: bold;
  font-size: 30px;
}

.portfolio .desc {
  font-weight: 300;
  margin-top: 24px;
}