* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

ol,
ul,
li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  color: #666d89;
}

.portfolio h2{
  padding-top: 60px;
  font-size: 30px;
}

.portfolio .desc {
  font-weight: 300;
  margin-top: 23px;
  font-size: 16px;
  letter-spacing: 0.81px;
}

.portfolio .nav{
  margin-top: 16px;
  margin-bottom: 19px;
}

.portfolio button{
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  letter-spacing: 0.5px;
  background-color: transparent;
  border: 1px solid #666d89;
  color: #666d89;
  border-radius: 5px;
  margin-right: 10px;
  padding: 4.3px 8px;
}

.portfolio button:nth-child(2){
  margin-left: -2px;
  padding-right: 4px;
  letter-spacing: 1.05px;
}

.portfolio button:nth-child(3){
  letter-spacing: 0.8px;
  padding-right: 6px;
}

.portfolio button:nth-child(4){
  padding-left: 6px;
  padding-right: 5px;
  letter-spacing: 1px;
}

.examples{
  flex-wrap:wrap;
}
.example{
  margin-right: 20px;
  margin-bottom: 2px;
  padding-bottom: 15px;
}

.example:nth-child(4n){
  margin-right: 0px;
}
.example:nth-child(n+13){
  display:none;
}
