* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

ol,
ul,
li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.quote{
  background-color: #f06c64;
  color: #fff;
  border-bottom: 6px solid #ea676b;
}

.quote h2{
  padding-top: 60px;
  font-size: 30px;
}

.quote .desc{
  margin-top: 17px;
  font-weight: 200;
  text-align: justify;
  text-align-last: left;
  letter-spacing: 0.01px;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 42px;
  overflow: hidden;
}

input{
  background-color: #d6564f;
  border: none;
  border-radius: 7px;
  width: 620px;
  height: 40px;
  margin-bottom: 14px;
}

input[type="submit"]{
  color: white;
  margin-top: 9px;
}

input::placeholder, textarea::placeholder{

  font-size: 12px; 
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato",sans-serif;
    padding-left: 15px;
    padding-top: 8px;
}

textarea{
  background-color: #d6564f;
  border: none;
  border-radius: 7px;
  width: 620px;
  height: 204px;
  resize: none;
}

.contact{
  min-width: 301px;
  font-size: 12px;
}

.contact h3{
  font-size: 18px;
}

.contact .desc{
  line-height: 22px;
  letter-spacing: 0.5px;
  margin-top: 7px;
  margin-bottom: 25px;
  font-size: 11px;
}

.contact a{
  display:block;
  text-decoration: none;
  color: white;
}

.contact p:last-child{
  position:relative;
}

.contact p:nth-child(3):before, .contact a:before{
  width: 11px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 6px;
  padding-left: 3px;
}

.contact p:nth-child(3):before{
    content: url("./assets/pin.svg");
}

.contact .link::before{
  content: url("./assets/phone-call.svg");
}

.contact a:last-child{
  height: 16px;
  margin-top: 3px;
  padding-left: 2px;
}

.contact a:last-child::before{
  content: url("./assets/mail.svg");
  padding-left: 0;
}

footer{
  font-size: 12px;
  background-color: #2d303a;
  color: #666d89;
  height: 100px;
}

footer .flex{
  justify-content: space-between;
}

footer p{
  padding-top: 30px;
}

.links a{
      width: 32px;
    height: 31px;
    border: 1px solid #666d89;
    -moz-border: 3px solid #666d89;
    border-radius: 50%;
    margin-top: 22px;
    margin-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
}

.links a:hover{
  background-color: black;
  border-color: black;
}

.links a svg{
  fill: #666d89;
}

.links a:hover svg{
  fill: #f2f2f2;
} 

.links a:last-child{
  margin-right: 0px;
}