* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

ol,
ul,
li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.desc {
  font-size: 18px;
  font-weight: 200;
  text-align: justify;
  text-align-last: left;
  line-height: 29px;
  overflow: hidden;
}

header {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

header .wrapper {
  justify-content: space-between;
  align-items: baseline;
  color: #ffffff;
  text-transform: uppercase;
  padding: 29px 0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.41px;
}

.logo {
  font-size: 25px;
  cursor: pointer;
}

.logo span {
  color: #f06c64;
  margin-left: 1px;
}

nav li a {
  margin-right: 32px;
}

nav li:last-child a {
  margin-right: 0px;
}

nav li {
  position: relative;
  cursor: pointer;
}

nav li:hover {
  color: #f06c64;
}

nav li:not(:last-child):after {
  content: "·";
  position: absolute;
  right: 14px;
  color: #404455;
}

.slider {
  background: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider .wrapper {
  position: relative;
}

.slider-item {
  align-items: center;
  padding: 53px 0px 58px 73px;
}

.horizontal-phone {
  background: url('./assets/horizontal-shadow.png');
  margin-left: 73px;
  padding-bottom: 21px;
  padding-right: 25px;
}

.vertical-phone {
  background: url('./assets/vertical-shadow.png');
  padding-bottom: 22px;
  padding-right: 25px;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 282px;
  height: 27px;
  width: 16px;
  background: url('./assets/arrow.png');
}

.arrow-left:hover,
.arrow-right:hover {
  cursor: pointer;
}

.arrow-right:hover {
  transform: scale(1.2);
}

.arrow-left {
  right: 0px;
  transform: rotate(180deg);
}

.arrow-left:hover {
  transform: rotate(180deg) scale(1.2);
}

.section-title {
  font-size: 30px;
  padding-top: 60px;
  font-weight: bold;
  margin-bottom: 18px;
}

.services {
  color: #666d89;
  height: 500px;
  border-bottom: 6px solid #fff;
  background-color: #f2f2f2;
}

.services .desc {
  color: #767e9e;
  letter-spacing: -0.04px;
  margin-bottom: 42px;
}

.services p span {
  word-spacing: 0.22px;
}

.services>.wrapper>.flex {
  flex-wrap: wrap;
}

.services-item {
  width: 33.333%;
  margin-bottom: 28px;
  padding-right: 12px
}

.services-item:nth-child(4) {
  margin-left: 0px;
}

.services-item>div.img {
  width: 60px;
  height: 60px;
  border: 2px solid #666d89;
  -moz-border: 3px solid #666d89;
  border-radius: 50%;
  padding: 13px;
  padding-top: 12px;
  margin-right: 19px;
  margin-top: 4px;
  margin-left: 6px;
}

.services-item:nth-child(1)>div.img {
  margin-left: 0;
}

.services-item:nth-child(2)>div.img {
  padding: 11px 16px 13px 18px;
  margin-right: 20px;
}

.services-item:nth-child(3)>div.img {
  margin-left: 13px;
  margin-right: 23px;
  padding: 14px 11px 13px 11px;
}

.services-item:nth-child(4)>div.img {
  padding: 11px 21px 13px 18px;
  margin-left: 0;
}

.services-item:nth-child(5)>div.img {
  margin-right: 19px;
  padding-right: 13px;
  padding-left: 12px;
  padding-top: 14px;
}

.services-item:nth-child(6)>div.img {
  padding: 12px 11px 13px 12px;
  margin-right: 21px;
  -ms-margin-right: 25px;
  margin-left: 13px;
}

.services-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  -ms-margin-bottom: 9px;
}

.services-text {
  color: #767e9e;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.05px;
  text-align: justify;
  overflow: hidden;
}

.portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  color: #666d89;
}

.portfolio .desc {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.81px;
}

.portfolio .nav {
  margin-top: 13px;
  margin-bottom: 18px;
}

.portfolio button {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  letter-spacing: 0.5px;
  background-color: transparent;
  border: 1px solid #666d89;
  color: #666d89;
  border-radius: 5px;
  margin-right: 10px;
  padding: 4.3px 8px;
}

.portfolio button:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.portfolio button:nth-child(2) {
  margin-left: -2px;
  padding-right: 4px;
  letter-spacing: 1.05px;
}

.portfolio button:nth-child(3) {
  letter-spacing: 0.8px;
  padding-right: 6px;
}

.portfolio button:nth-child(4) {
  padding-left: 6px;
  padding-right: 5px;
  letter-spacing: 1px;
}

.examples {
  flex-wrap: wrap;
  margin-bottom: 46px;
}

.example {
  margin-right: 20px;
  margin-bottom: 2px;
  padding-bottom: 15px;
}

.example:nth-child(4n) {
  margin-right: 0px;
}

.example:nth-child(n+13) {
  display: none;
}

.about-us {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  color: #666d89;
  font-size: 20px;
  padding-bottom: 66px;
}

.about-us p {
  color: #767e9e;
  font-weight: 200;
  text-align: justify;
  text-align-last: left;
  letter-spacing: -0.04px;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 44px;
}

.about-us p span {
  word-spacing: 0.3px;
}

.people {
  justify-content: space-between;
}

.human {
  margin-right: 20px;
}

.human .name {
  margin-top: 14px;
  font-size: 18px;
  line-height: 17.86px;
  font-weight: 900;
}

.human .desc {
  margin-top: 9px;
  font-size: 12px;
  line-height: 21.46px;
  letter-spacing: 0.08px;
}

.human a {
  width: 32px;
  height: 31px;
  border: 1px solid #666d89;
  -moz-border: 3px solid #666d89;
  border-radius: 50%;
  margin-top: -18px;
  margin-right: 8px;
  padding-left: 8px;
  padding-top: 2px;
}

.human a:hover {
  background-color: black;
}

.human a svg {
  fill: #666D89;
}

.human a:hover svg {
  fill: #f2f2f2;
}

.quote {
  background-color: #f06c64;
  color: #fff;
  border-bottom: 6px solid #ea676b;
}

.quote .desc {
  margin-top: 1px;
  letter-spacing: 0.01px;
  margin-bottom: 44px;
}

input {
  background-color: #d6564f;
  border: none;
  border-radius: 7px;
  width: 620px;
  height: 39px;
  margin-bottom: 15px;
}

input[type="submit"] {
  color: white;
  margin-top: 9px;
}

input[type="submit"]:hover {
  background-color: #f48c8f;
  cursor: pointer;
}

input::placeholder,
textarea::placeholder {

  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato", sans-serif;
  padding-left: 15px;
  padding-top: 8px;
}

textarea {
  background-color: #d6564f;
  border: none;
  border-radius: 7px;
  width: 620px;
  height: 204px;
  resize: none;
}

.contact {
  min-width: 301px;
  font-size: 12px;
}

.contact h3 {
  font-size: 18px;
}

.contact .desc {
  line-height: 22px;
  letter-spacing: 0.5px;
  margin-top: 7px;
  margin-bottom: 25px;
  font-size: 11px;
}

.contact a {
  display: block;
  text-decoration: none;
  color: white;
}

.contact p:last-child {
  position: relative;
}

.contact p:nth-child(3):before,
.contact a:before {
  width: 11px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 6px;
  padding-left: 3px;
}

.contact p:nth-child(3):before {
  content: url("./assets/pin.svg");
}

.contact .link::before {
  content: url("./assets/phone-call.svg");
}

.contact a:last-child {
  height: 16px;
  margin-top: 3px;
  padding-left: 2px;
}

.contact a:last-child::before {
  content: url("./assets/mail.svg");
  padding-left: 0;
}

footer {
  font-size: 12px;
  background-color: #2d303a;
  color: #666d89;
  height: 77px;
}

footer .flex {
  justify-content: space-between;
}

footer p {
  padding-top: 30px;
}

.links a {
  width: 32px;
  height: 31px;
  border: 1px solid #666d89;
  -moz-border: 3px solid #666d89;
  border-radius: 50%;
  margin-top: 22px;
  margin-right: 8px;
  padding-left: 8px;
  padding-top: 8px;
}

.links a:hover {
  background-color: black;
  border-color: black;
}

.links a svg {
  fill: #666d89;
}

.links a:hover svg {
  fill: #f2f2f2;
}

.links a:last-child {
  margin-right: 0px;
}