* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

ol, ul, li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.wrapper {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.desc {
    font-size: 18px;
    font-weight: 200;
    text-align: justify;
    text-align-last: left;
    line-height: 30px;
    overflow: hidden;
}

header {
    height: 95px;
    top: 0;
    z-index: 9;
    position: fixed;
    width: 100%;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

header .wrapper {
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    text-transform: uppercase;
    padding: 29px 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.41px;
}

.menu {
    display: none;
}

.logo h1 {
    font-size: 25px;
    cursor: pointer;
}

.logo span {
    color: #f06c64;
    margin-left: 1px;
}

nav a {
    margin-right: 32px;
    text-decoration: none;
    color: #ffffff;
}

nav a:last-child {
    margin-right: 0px;
}

nav a {
    position: relative;
    cursor: pointer;
}

.link-active {
    color: #f06c64;
    transition: color 0.2s linear;
}

nav a:not(:last-child):after {
    content: "·";
    position: absolute;
    right: -15px;
    color: #404455;
}

.slider {
    background: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding-top: 95px;
    transition: all 1s;
}

.slider .wrapper {
    position: relative;
}

.slider-item {
    align-items: center;
    padding: 53px 72px;
    justify-content: center;
    position: relative;
    min-width: 330px;
}

.horizontal-phone {
    margin-left: 73px;
    padding-bottom: 21px;
    padding-right: 25px;
    position: relative;
}

.vertical-phone {
    position: relative;
}

.vertical-phone__button {
    position: absolute;
    height: 41.48px;
    width: 41.48px;
    border-radius: 50%;
    background-color: transparent;
    bottom: 36px;
    left: 86px;
    z-index: 1;
    cursor: pointer;
}

.vertical-phone__off {
    position: absolute;
    width: 189px;
    height: 334px;
    background-color: #000;
    bottom: 88px;
    left: 13px;
    z-index: -1;
}

.horizontal-phone__button {
    position: absolute;
    height: 41.48px;
    width: 41.48px;
    border-radius: 50%;
    background-color: transparent;
    bottom: 135px;
    left: 9px;
    z-index: 1;
    cursor: pointer;
}

.horizontal-phone__off {
    position: absolute;
    width: 334px;
    height: 191px;
    background-color: #000;
    bottom: 60px;
    left: 60px;
    z-index: -1;
}

.slider-item:nth-child(2) {
    padding-top: 40px;
    padding-bottom: 38px;
}

.forefront {
    z-index: 1
}

.wayside {
    position: absolute;
    top: 152px;
    z-index: 0;
}

.wayside:nth-child(1) {
    left: 247px;
}

.wayside:nth-child(3) {
    right: 175px;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: calc((100% - 16px)/2);
    height: 27px;
    width: 16px;
    background: url('./assets/arrow.png');
}

.arrow-left:hover, .arrow-right:hover {
    cursor: pointer;
}

.arrow-right:hover {
    transform: scale(1.2);
}

.arrow-left {
    right: 0px;
    transform: rotate(180deg);
}

.arrow-left:hover {
    transform: rotate(180deg) scale(1.2);
}

.section-title {
    font-size: 30px;
    padding-top: 61px;
    font-weight: bold;
    margin-bottom: 15px;
}

.services {
    scroll-margin-top: 95px;
    color: #666d89;
    min-height: 500px;
    border-bottom: 6px solid #fff;
    background-color: #f2f2f2;
}

.services .desc {
    color: #767e9e;
    padding-top: 1px;
    letter-spacing: -0.04px;
    margin-bottom: 44px;
}

.services p span {
    word-spacing: 0.22px;
}

.services>.wrapper>.flex {
    flex-wrap: wrap;
}

.services-item {
    width: 300px;
    margin-bottom: 28px;
    padding-right: 12px;
}

.services-item:nth-child(4) {
    margin-left: 0px;
}

.services-item>div.img {
    width: 60px;
    height: 60px;
    border: 2px solid #666d89;
    -moz-border: 3px solid #666d89;
    border-radius: 50%;
    padding: 13px;
    padding-top: 12px;
    margin-right: 20px;
    margin-top: 4px;
    margin-left: 6px;
}

.services-item:nth-child(1)>div.img {
    margin-left: 0;
}

.services-item:nth-child(2)>div.img {
    padding: 11px 16px 13px 18px;
    margin-right: 20px;
}

.services-item:nth-child(3)>div.img {
    margin-left: 13px;
    margin-right: 23px;
    padding: 14px 11px 13px 11px;
}

.services-item:nth-child(4)>div.img {
    padding: 11px 21px 13px 18px;
    margin-left: 0;
}

.services-item:nth-child(5)>div.img {
    margin-right: 19px;
    padding-right: 13px;
    padding-left: 12px;
    padding-top: 14px;
}

.services-item:nth-child(6)>div.img {
    padding: 12px 11px 13px 12px;
    margin-right: 21px;
    -ms-margin-right: 25px;
    margin-left: 13px;
}

.services-info {
    height: 95px;
    overflow: hidden;
}

.services-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    -ms-margin-bottom: 9px;
}

.services-text {
    color: #767e9e;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.05px;
    text-align: justify;
}

.portfolio {
    scroll-margin-top: 94px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    color: #666d89;
}

.portfolio .desc {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.81px;
    padding-top: 2px;
}

.portfolio .nav {
    margin-top: 11px;
    margin-bottom: 18px;
}

.portfolio button {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    letter-spacing: 0.5px;
    background-color: transparent;
    border: 1px solid #666d89;
    color: #666d89;
    border-radius: 5px;
    margin-right: 10px;
    padding: 4.3px 8px;
    cursor: pointer;
}

.portfolio .button-active {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.portfolio button:nth-child(2) {
    margin-left: -2px;
    padding-right: 4px;
    letter-spacing: 1.05px;
}

.portfolio button:nth-child(3) {
    letter-spacing: 0.8px;
    padding-right: 6px;
}

.portfolio button:nth-child(4) {
    padding-left: 6px;
    padding-right: 5px;
    letter-spacing: 1px;
}

.examples {
    flex-wrap: wrap;
    margin-bottom: 46px;
}

.example {
    margin-right: 20px;
    margin-bottom: 15px;
}

.example-active {
    outline: 5px solid #F06C64;
    outline-offset: -5px;
}

.example:nth-child(4n) {
    margin-right: 0px;
}

.example:nth-child(n+13) {
    display: none;
}

.about-us {
    scroll-margin-top: 96px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    color: #666d89;
    font-size: 20px;
    padding-bottom: 66px;
}

.about-us p {
    color: #767e9e;
    letter-spacing: -0.04px;
    padding-top: 2px;
    margin-bottom: 45px;
}

.about-us p span {
    word-spacing: 0.3px;
}

.people {
    justify-content: space-between;
}

.human {
    margin-right: 20px;
    width: 32%;
}

.human .name {
    margin-top: 14px;
    font-size: 18px;
    line-height: 17.86px;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.human .desc {
    margin-top: 9px;
    font-size: 12px;
    line-height: 21.46px;
    letter-spacing: 0.08px;
}

.human a {
    width: 32px;
    height: 31px;
    border: 1px solid #666d89;
    -moz-border: 3px solid #666d89;
    border-radius: 50%;
    margin-top: -21px;
    margin-right: 8px;
    padding-left: 8px;
    padding-top: 2px;
}

.human a:hover {
    background-color: black;
}

.human a svg {
    fill: #666D89;
}

.human a:hover svg {
    fill: #f2f2f2;
}

.quote {
    scroll-margin-top: 94px;
    background-color: #f06c64;
    color: #f0cac9;
    border-bottom: 6px solid #ea676b;
}

.quote .desc {
    margin-top: 1px;
    letter-spacing: 0.01px;
    padding-top: 3px;
    margin-bottom: 43px;
}

form {
    margin-right: 20px;
    width: 639px;
}

input {
    background-color: #d6564f;
    border: none;
    border-radius: 7px;
    height: 39px;
    margin-bottom: 15px;
    padding-left: 15px;
    display: block;
    width: 100%;
}

input[type="submit"] {
    color: #f0cac9;
    margin-top: 9px;
}

input[type="submit"]:hover {
    background-color: #f48c8f;
    cursor: pointer;
}

input::placeholder, textarea::placeholder {
    font-size: 12px;
    -webkit-line-height: 22px;
    color: #f48c8f;
    font-family: "Lato", sans-serif;
}

textarea {
    font-family: "Lato", sans-serif;
    background-color: #d6564f;
    border: none;
    border-radius: 7px;
    height: 204px;
    width: 100%;
    padding-left: 15px;
    padding-top: 11px;
    resize: none;
}

.contact {
    font-size: 12px;
    width: 3;
}

.contact h3 {
    font-size: 18px;
}

.contact .desc {
    line-height: 22px;
    letter-spacing: 0.5px;
    margin-top: 4px;
    margin-bottom: 25px;
    font-size: 11px;
}

.contact a {
    display: block;
    text-decoration: none;
    color: #f0cac9;
}

.contact p:last-child {
    position: relative;
}

.contact p:nth-child(3):before, .contact a:before {
    width: 11px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 6px;
    padding-left: 3px;
}

.contact p:nth-child(3):before {
    content: url("./assets/pin.svg");
}

.contact .link::before {
    content: url("./assets/phone-call.svg");
}

.contact a:last-child {
    height: 16px;
    margin-top: 3px;
    padding-left: 2px;
}

.contact a:last-child::before {
    content: url("./assets/mail.svg");
    padding-left: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0009;
}

.modal .content {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 7px;
    width: 300px;
    height: 172px;
    background: #fee;
    padding: 15px;
}

.modal .content p {
    padding-bottom: 20px;
}

.modal .content #desc {
    height: 60%;
    word-wrap: wrap;
    word-break: break-all;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal .content p:first-child {
    font-weight: bold;
    color: #767e9e;
}

.modal .content p:nth-child(2) {
    height: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal .content button {
    border: 2px solid #f48c8f;
    background-color: transparent;
    padding: 2px 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

footer {
    font-size: 12px;
    background-color: #2d303a;
    color: #666d89;
    height: 77px;
}

footer .flex {
    justify-content: space-between;
}

footer p {
    padding-top: 30px;
}

.links a {
    width: 32px;
    height: 31px;
    border: 1px solid #666d89;
    -moz-border: 3px solid #666d89;
    border-radius: 50%;
    margin-top: 22px;
    margin-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
}

.links a:hover {
    background-color: black;
    border-color: black;
}

.links a svg {
    fill: #666d89;
}

.links a:hover svg {
    fill: #f2f2f2;
}

.links a:last-child {
    margin-right: 0px;
}

@media screen and (max-width: 1019px) {
    .vertical-phone__off, .horizontal-phone__off {
        display:none;
    }

    header, .slider, .services, .portfolio, .about-us, .quote, footer {
        padding: 0 40px;
    }

    .slider {
        padding-top: 95px;
    }

    .slider-item {
        padding: 53px 52px;
    }

    form {
        width: 60vw;
    }

    .human img {
        height: auto;
        width: 100%;
    }

    .slider img {
        height: auto;
        width: 100%;
        min-width: 78px;
        /*   max-width: 720px; */
    }

    .example:nth-child(1n) {
        margin-right: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1019px) {
    .services {
        padding-bottom: 64px;
    }

    .services .wrapper .flex {
        justify-content: space-between;
    }

    .services-item {
        margin-bottom: 39px
    }

    .services-item>div.img ,.services-item:nth-child(3)>div.img,.services-item:nth-child(6)>div.img {
        margin-left: 0;
    }

    .example img {
        width: 210px;
    }

    .example:nth-child(3n) {
        margin-right: 0px;
    }

    .about-us {
        padding-bottom: 75px;
    }

    .human:last-child {
        margin-right: 0;
    }
}

@media only screen and (max-width: 767px) {
    header, .slider, .services, .portfolio, .about-us, .quote, footer {
        padding: 0 20px;
    }

    .slider {
        padding-top: 81px;
    }

    header {
        height: 71px;
    }

    header .wrapper {
        padding: 20px 0;
    }

    .menu {
        display: block;
    }

    .logo {
        margin-right: calc((100% - 80px - 112px)/2);
    }

    #nav {
        display: none;
    }

    .vertical-phone {
        margin-left: 10px;
    }

    .horizontal-phone {
        margin-left: 35px;
        margin-right: 32px;
    }

    .slider-item {
        padding: 23px 20px;
    }

    .services-item:nth-child(n)>div.img {
        margin-left: 0;
    }

    .example img {
        width: 150px;
    }

    .example:nth-child(n) {
        margin-right: 14px;
        margin-bottom: 14px;
    }

    .example:nth-child(2n) {
        margin-right: 0px;
    }

    .example:nth-child(n+9) {
        display: none
    }

    .people{
        flex-direction: column;
    }

    .human{
        width: 314px;
        margin-bottom: 34px;
    }

    .quote .wrapper .flex{
        flex-direction:column;
    }


    form {
        width: calc( 100vw - 60px);
    }

    .contact{
        margin-bottom: 42px;
    }

    footer .wrapper p{
        display: none;
    }

    footer .wrapper{
        justify-content: center;
    }

}

@media only screen and (max-width: 767px) {
    .slider-item{
        min-width: 300px;
    }

    .horizontal-phone {
        margin-left: 15px;
        margin-right: 12px;
    }

    .slider-item {
        padding: 23px 20px;
        padding-right: 0px;
        min-width: 280px;
    }

    .example img {
        width: 120px;
    }

    .example:nth-child(n) {
        margin-right: 14px;
        margin-bottom: 14px;
    }

    .example:nth-child(2n) {
        margin-right: 0px;
    }

    .human{
        width: 264px;
        margin-bottom: 34px;
    }
}

